trunk/ERP.Logistica/ERP.Logistica.Controllers/Web References/FinServico/FinlogWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="geraCota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="valorDoPedido" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="geraCotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="geraCotaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="geraCotaSoapIn">
    <wsdl:part name="parameters" element="tns:geraCota" />
  </wsdl:message>
  <wsdl:message name="geraCotaSoapOut">
    <wsdl:part name="parameters" element="tns:geraCotaResponse" />
  </wsdl:message>
  <wsdl:portType name="FinlogWSSoap">
    <wsdl:operation name="geraCota">
      <wsdl:input message="tns:geraCotaSoapIn" />
      <wsdl:output message="tns:geraCotaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinlogWSSoap" type="tns:FinlogWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="geraCota">
      <soap:operation soapAction="http://tempuri.org/geraCota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FinlogWSSoap12" type="tns:FinlogWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="geraCota">
      <soap12:operation soapAction="http://tempuri.org/geraCota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinlogWS">
    <wsdl:port name="FinlogWSSoap" binding="tns:FinlogWSSoap">
      <soap:address location="http://labsoft.pcs.usp.br:3003/FinlogWS.asmx" />
    </wsdl:port>
    <wsdl:port name="FinlogWSSoap12" binding="tns:FinlogWSSoap12">
      <soap12:address location="http://labsoft.pcs.usp.br:3003/FinlogWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>