trunk/ERP.Manutenção/ERP.Manutencao.Controllers/Web References/Disponibilidade/DisponibilidadeWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="obterListagemDisponibilade">
        <s:complexType />
      </s:element>
      <s:element name="obterListagemDisponibiladeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obterListagemDisponibiladeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obterListagemDisponibiladeSoapIn">
    <wsdl:part name="parameters" element="tns:obterListagemDisponibilade" />
  </wsdl:message>
  <wsdl:message name="obterListagemDisponibiladeSoapOut">
    <wsdl:part name="parameters" element="tns:obterListagemDisponibiladeResponse" />
  </wsdl:message>
  <wsdl:portType name="DisponibilidadeWSSoap">
    <wsdl:operation name="obterListagemDisponibilade">
      <wsdl:input message="tns:obterListagemDisponibiladeSoapIn" />
      <wsdl:output message="tns:obterListagemDisponibiladeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DisponibilidadeWSSoap" type="tns:DisponibilidadeWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obterListagemDisponibilade">
      <soap:operation soapAction="http://tempuri.org/obterListagemDisponibilade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DisponibilidadeWSSoap12" type="tns:DisponibilidadeWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obterListagemDisponibilade">
      <soap12:operation soapAction="http://tempuri.org/obterListagemDisponibilade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DisponibilidadeWS">
    <wsdl:port name="DisponibilidadeWSSoap" binding="tns:DisponibilidadeWSSoap">
      <soap:address location="http://labsoft.pcs.usp.br:3002/DisponibilidadeWS.asmx" />
    </wsdl:port>
    <wsdl:port name="DisponibilidadeWSSoap12" binding="tns:DisponibilidadeWSSoap12">
      <soap12:address location="http://labsoft.pcs.usp.br:3002/DisponibilidadeWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>